/* RESET PLZ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.∑ {
  z-index: 2;
  width: 30em;
  max-width: 90%;
  margin: 10em auto;
  padding: .5em;
  background: transparent;
}

.∑ > .∆ {
  margin: 0;
  margin-bottom: 1em;
  font-size: 2.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #353535;
}

.∑ > a,
.∑ > .∆ {
  position: relative;
  z-index: 2;
}

#wut, #wat {
  border-radius: 100%;
  background-color: #dfdfdf;
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 1px;
  height: 1px;
  content: '';
  -webkit-transition: all 2s;
}

#wat {
  left: auto;
  right: 50%;
}

.variation-1,
.variation-2,
.variation-3,
.variation-4 {
  background-color: #dfdfdf;
}


#wut.variation-1 {
  left: 0;
  width: 35vw;
  height: 30vw;
  bottom: -20vw;
}

#wat.variation-1 {
  right: -10vw;
  width: 100vw;
  height: 100vw;
  bottom: -75vw;
}


#wut.variation-2 {
  left: -70vw;
  bottom: 0;
  width: 140vw;
  height: 130vw;
  bottom: -85vw;
}

#wat.variation-2 {
  right: -10vw;
  width: 65vw;
  height: 65vw;
  bottom: -45vw;
}

#wut.variation-3 {
  left: 20vw;
  width: 35vw;
  height: 35vw;
  bottom: -20vw;
}

#wat.variation-3 {
  width: 100vw;
  height: 100vw;
  right: -35vw;
  bottom: -55vw;
}

#wut.variation-4 {
  left: -10vw;
  width: 75vw;
  height: 70vw;
  bottom: -40vw;
}

#wat.variation-4 {
  width: 85vw;
  height: 50vw;
  right: -30vw;
  bottom: -25vw;
}
