/* RESET PLZ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.∑ {
  z-index: 2;
  width: 30em;
  max-width: 90%;
  margin: 10em auto;
  padding: .5em;
  background: transparent;
}

.∑ > .∆ {
  margin: 0;
  margin-bottom: 1em;
  font-size: 2.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #353535;
}

.∑ > a { color: blue; }

#wut, #wat {
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 1px;
  content: '';
  -webkit-transition: all 2s;
}

#wat {
  left: auto;
  right: 0;
}


#wut.variation-1 {
  left: -10vw;
  width: 100vw;
  height: 100vw;
  bottom: -75vw;
  background-color: #dfdfdf;
}

#wat.variation-1 {
  width: 35vw;
  height: 30vw;
  bottom: -20vw;
  background-color: #dfdfdf;
}


#wut.variation-2 {
  left: 10vw;
  width: 60vw;
  height: 60vw;
  bottom: -45vw;
  background-color: #9a9a9a;
}

#wat.variation-2 {
  right: -10vw;
  width: 65vw;
  height: 65vw;
  bottom: -45vw;
  background-color: #9a9a9a;
}

#wut.variation-3 {
  left: 20vw;
  width: 35vw;
  height: 30vw;
  bottom: -20vw;
  background-color: #7e7e7e;
}

#wat.variation-3 {
  width: 100vw;
  height: 100vw;
  right: -40vw;
  bottom: -65vw;
  background-color: #7e7e7e;
}

#wut.variation-4 {
  left: 0;
  width: 50vw;
  height: 50vw;
  bottom: -30vw;
  background-color: #9a9a9a;
}

#wat.variation-4 {
  width: 80vw;
  height: 80vw;
  right: -10vw;
  bottom: -50vw;
  background-color: #9a9a9a;
}
